---

import '../styles/global.css';

//import Navigation from '../components/navigation.astro'; cambio a header para prueba de responsividad
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Buena pelao";
---

<html lang="en">
	
	<body>
			<!-- <Navigation /> -->
			<Header />
 			<h1>{pageTitle}</h1>
			<h2>... estoy aprendiendo a usar esta volá!</h2>
		<Footer />
		<script>
		 import "../scripts/menu.jsx";
		  </script>
	</body>
</html>

